.container{
    width: max-content;
    position: relative;

}

.navbar{
    max-width: fit-content;
}

.navbar, 
.navbar-expand-lg, 
.navbar-light, 
bg-light {
    outline-color: #000000;
    color: #69c9f0;
}

.navlinkdisabled {
    text-align: right;
}

 .body{
    margin: 0;
    color: #000000;
    background-color: #4ed7db;
 }
 
  .jumbotron, 
  .jumbotronfluid { 
    display: cover;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #4ed7db;
  }
.footer {
    background-color: #7af5c2;
    color: #000000;
    border-top: 1px #75b88e;
    border-style: inset;
    max-width: fit-content;
    margin-top: 10px; 
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
}
